@import "colors/zitchdog.css";
* {
  border: none;
  border-radius: 0;
  font-family: "KodeMono Nerd Font", "SF Pro Text", "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
window#waybar {
  background: transparent;
}
tooltip {
  background: @aubergine;
  border: 1px solid @bg2;
  border-radius: 0;
}
tooltip label {
  color: @purple;
  padding: 6px;
}
#workspaces {
  background-color: @bg0;
  padding: 2px;
  margin: 8px 8px 0px 8px;
  border-radius: 0;
  border: 2px solid @purple;
  border-left: 8px solid @purple;
}
 
#workspaces button {
  background: @slate;
  border-radius: 0;
  margin: 0rem;
  margin-left: 1px;
  min-width: 0.35rem;
  min-height: 0.5rem;
  color: transparent;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}
 
#workspaces button.empty {
  background: @mulberry;
  transition: all 0.2s cubic-bezier(0.77,0.00,0.175,1.00);
}
 
#workspaces button.active {
  background: @purple;
  min-width: 1.0rem;
  transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}
#battery,
#pulseaudio,
#bluetooth,
#network,
#clock,
#custom-power,
#custom-notification {
  background-color: @bg0;
  padding: 2px 10px;
  margin: 8px 6px 0px 0px;
  border-radius: 0px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
#clock, #bluetooth {
  color: @blue;
  background-color: @indigo;
  border-left: 8px solid @blue;
  margin-right: 8px;
}
#custom-notification {
  color: @fg;
  background-color: @charcoal;
  border-left: 8px solid @fg;
}
#custom-power {
  color: @red;
  background-color: @maroon;
  border-left: 8px solid @red;
}
#pulseaudio {
  color: @yellow;
  background-color: @umber;
  border-left: 8px solid @yellow;
}
#network {
  color: @purple;
  background-color: @aubergine;
  border-left: 8px solid @purple;
}
#battery {
  color: @green;
  background-color: @pine;
  border-left: 8px solid @green;
}
/* low/warning: yellow accent, 8px left border */
#battery.warning:not(.charging) {
  color: @yellow;
  background-color: @pine;
  border-left: 16px solid @yellow;
}
/* critical: red accent, 8px left border */
#battery.critical:not(.charging) {
  color: @red;
  background-color: @pine;
  border-left: 16px solid @red;
}
/* charging/plugged: green accent, 8px left border */
#battery.charging,
#battery.plugged {
  color: @green;
  background-color: @pine;
  border-left: 16px solid @green;
}

/* audio module setup */
#pulseaudio.muted {
  color: @red;
  background-color: @maroon;
  border-left: 16px solid @red;
}

/* network module setup */
#network.disconnected {
  color: @red;
  background-color: @maroon;
  border-left: 16px solid @red;
  border-top-color: @red;
  border-right-color: @red;
  border-bottom-color: @red;
}

#network.linked,
#network.disabled {
  color: @yellow;
  background-color: @umber;
  border-left: 16px solid @yellow;
  border-top-color: @yellow;
  border-right-color: @yellow;
  border-bottom-color: @yellow;
}
