* {
  all: unset;
  font-family: "Michroma", "KodeMono Nerd Font", monospace;
  font-size: 16px;
}

.notification-row {
  outline: none;
  margin: 9px;
  margin-top: 0px;
}

/* Base notification */
.notification {
  background: #0b080e;
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 12px solid;
  border-radius: 0;
  padding: 2px 6px;
}

.notification-background {
  background: transparent;
}

/* LOW - blue/indigo, feels informational/subtle */
.notification.low {
  /* border-color: #64aae2; */
  /* background: #212f4a; */
  /* color: #64aae2; */
  border-color: #a1a3a8;
  background: #001851;
  color: #c0c9c3;
}

/* NORMAL - purple, general status */
.notification.normal {
  border-color: #a1a3a8;
  background: #001851;
  color: #c0c9c3;
}

/* CRITICAL - red, danger */
.notification.critical {
  border-color: #e4384c;
  background: #481219;
  color: #e4384c;
}

/* Text */
.notification-action {
  color: #001851;
  /* color: #542a91; */
  font-size: 5px;
  background: transparent;
}

.notification-content {
  padding: 5px 10px;
}

.summary {
  color: #ffffff;
  font-weight: bolder;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Microgramma D Extended", monospace;
  letter-spacing: 1px;
}

.body {
  color: #abb2bf;
  font-weight: bold;
  font-size: 12px;
  margin-top: 0.25rem;
}

.time {
  color: #828997;
  font-size: 11px;
}

/* Close button */
.close-button {
  background: transparent;
  color: #828997;
  border: none;
  padding: 5px;
}

.close-button:hover {
  color: #e4465d;
}

.notification.low .summary,
.notification.low .body {
  /* color: #64aae2; */
  color: #c0c9c3;
}

.notification.normal .summary,
.notification.normal .body {
  color: #c0c9c3;
}

.notification.critical .summary,
.notification.critical .body {
  color: #e4384c;
}

.notification-action > button {
  padding-left: 0;
}

.notification-action > button label {
  margin-left: 0;
  margin-right: auto;
}
