@define-color bg0 #0b080e;
@define-color bg1 #2c1e36;
@define-color bg2 #2c313a;
@define-color bg3 #3e4451;
@define-color bg4 #4b5263;

@define-color fg #abb2bf;

@define-color grey0 #5c6370;
@define-color grey1 #828997;
@define-color grey2 #abb2bf;

@define-color purple #8543e4;
@define-color green #46cda8;
@define-color orange #e39069;
@define-color coral #e4465d;
@define-color cyan #17c5cb;
@define-color aqua #17c5cb;
@define-color red #e4384c;
@define-color pink #d95be2;
@define-color white #db94e3;
@define-color gray #513b50;
@define-color ash #191324;
@define-color black #0d0910;
@define-color darkblack #0b080e;
@define-color magenta #8443e4;
@define-color yellow #e09066;
@define-color mauve #281a42;
@define-color blue #64aae2;
@define-color charcoal #0d0910;
@define-color slate #542a91;
@define-color graphite #272045;
@define-color lilac #5a3c8d;
@define-color amethyst #201638;
@define-color aubergine #150f25;
@define-color ebony #09080e;
@define-color maroon #481219;
@define-color pine #0b1618;
@define-color indigo #212f4a;
@define-color umber #331b17;
@define-color clay #331016;
@define-color mulberry #2e1d46;
@define-color teal #08313f;
@define-color lightblack #100d17;

